<link href="{LIBS_DIR}fullcalendar-2.3.2/fullcalendar.css" rel="stylesheet" type="text/css"/>
<script src="{LIBS_DIR}fullcalendar-2.3.2/lib/moment.min.js" type="text/javascript"></script>
<script src="{LIBS_DIR}fullcalendar-2.3.2/fullcalendar.min.js" type="text/javascript"></script>
<script src="{LIBS_DIR}fullcalendar-2.3.2/lang/es.js" type="text/javascript"></script>
<script src="{MODULE_JS_DIR}schedule.js" type="text/javascript"></script>

<div class="row">
    <div class="col m12 l12 s12">
        {PANEL_ASIGNATION}
    </div>
    <div class="col m12 l12 s12" id="calendar">
        
    </div>
    
</div>


