<form id="form_new_product" class="col s12 m12 l12">
        
        <div class="row">
            
           <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un Profesor</option>
                    {OPTIONS_TEACHERS}
                </select>
                <!--<a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>-->
            </div>
             <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona una Materia</option>
                    {OPTIONS_SUBJECT}
                </select>
                <!--<a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>-->
            </div>
            
            <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un Grupo</option>
                    {OPTIONS_GROUPS}
                </select>
            </div>
            
            <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un Dia</option>
                    {OPTIONS_DAYS}
                </select>
            </div>
           
            <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un Modulo</option>
                    {OPTIONS_MODULE}
                </select>
                <a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>
            </div>
            
            
        </div>



    </form>