<form id="form_new_product" class="col s12 m12 l12">
        
        <div class="row">
            
           <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un Profesor</option>
                </select>
                <!--<a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>-->
            </div>
             <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona una materia</option>
                </select>
                <!--<a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>-->
            </div>
            
            <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un grupo</option>
                </select>
                <!--<a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>-->
            </div>
           
            <div class="input-field col s12 m3 l3">
                <select id="categoria" name="categoria" class="materializeSelect">
                    <option value="">Selecciona un modulo</option>
                </select>
                <a class="btn waves-effect btn col s12 m6 l6 offset-l6 offset-m6 modal-trigger" href="#modalAddCategory">Agregar Categoria</a>
            </div>
            
            
        </div>



    </form>