
<!--  Parallax Section  -->
<div class="parallax-container">
    <div class="parallax"><img src="{SITE_IMG_DIR}parallax1.jpg" style="display: block; transform: translate3d(-50%, 382px, 0px);"></div>
</div>
<div class="section white">
    <div class="row container">
        <h4 class="header">Soluciones de mantenimientos</h4>
        <p class="grey-text text-darken-3 lighten-3">
            Mantos preventivos y correctivos a PC´s, Laptops y equipo de impresión, Reparación de computadoras, impresoras de inyección de tinta y laser. Mantenimiento Preventivo y Correctivo a Servidores y Sistemas de Almacenamiento Masivo de Datos SAN y NAS.
        </p>
        <ul>
            <li>Migración de bases</li>
            <li>Migración Servidores</li>
            <li>Soluciones en Almacenamiento</li>
            <li>Cableado y redes</li>
        </ul> 
    </div>
    <div class="row container">
        <h4 class="header">Soluciones de Software</h4> 
        <p class="grey-text text-darken-3 lighten-3">
            Sistemas operativos Windows 7, 8, XP, Linux, antivirus y servidores.
        </p>
    </div>


    <div class="row container">
        <h4 class="header">Tóner Cartridge</h4>
        <p class="grey-text text-darken-3 lighten-3">
            Remanufacturados o genéricos: CALIDAD 100% GARANTIZADA Nuestros cartuchos son remanufacturados con la mayor calidad ya que 
        <p>
        <ul>
            <li>Cada cartucho pasa por una prueba previa a ser remanufacturado para comprobar que se encuentra en buen estado.</li>
            <li>La limpieza y rellenado se hace con maquinaria especializada.</li>
            <li>Cada impresora necesita una tinta distinta o un tóner específico, y de esta manera lo realizamos.</li>
            <li>Nosotros remanufacturamos, no rellenamos. Ya que cambiamos todas las piezas de un cartucho que entran en contacto con tu impresora y sufren desgaste al imprimir.</li>
            <li>Al finalizar el proceso de remanufactura cada cartucho se somete a una prueba de impresión en nuestras impresoras para asegurar su calidad.</li>
        </ul>  
        <p class="grey-text text-darken-3 lighten-3">
            Es por esto que estamos seguros que en cuanto sale un cartucho de alguna de nuestras tiendas, cumple con la calidad que tú y tu impresora necesitan. Lo que nos permite ser los únicos que te ofrecen una garantía por escrito de que nuestros cartuchos funcionarán de manera similar a los de un original y que estos no dañarán a tu impresora. Tóner Compatible y Remanufacturado: Grandes Beneficios a Precios Bajos.
        </p>
    </div>



</div>
<div class="parallax-container">
    <div class="parallax"><img src="{SITE_IMG_DIR}parallax2.jpg" style="display: block; transform: translate3d(-50%, 23px, 0px);"></div>
</div>    

