<div class="container">
    <div class="row">
        <div class="col m12 s12 l12">

            <h4 class="header">Soluciones de hardware</h4>
            <p class="grey-text text-darken-3 lighten-3">
                Equipo de cómputo accesorios como: usb, usb-teclado usb-mouse, display de laptop, discos duros interno y externo para: laptop y pc, bases para laptop, cargadores para laptop, genéricos y originales, ventiladores para lap, fuentes de poder para pc, memorias ram, no break, cable extensores, cámaras web, impresoras o multifuncionales, laptop y pc ensambladas, cable utp y udp.
            </p>

            <h4 class="header">Soluciones de impresión</h4>
            <p class="grey-text text-darken-3 lighten-3">
                Venta de cartuchos originales, tóner genéricos y originales, tintas de punto matriz EPSON o requerida.
            </p>

            <h4 class="header">Solución de Cámaras de CCTV</h4>
            <p class="grey-text text-darken-3 lighten-3">
                Instalación y venta, kit de cámaras de 4 8 o 16 cámaras de seguridad alámbricas e inalámbricas. Opción de grabadores de DVR, cámaras ip local.
            </p>

            <h4 class="header">Contratos de servicios</h4> 
            <p class="grey-text text-darken-3 lighten-3">
                Especializados para cada empresa u negocio, nos adaptamos a las necesidades de cada particular.
            </p>

            <ul>
                <li>Por ticket</li>
                <li>Contrato mensual</li>
            </ul> 

            <h4 class="header">Soporte Técnico A Distancia</h4>
            <p class="grey-text text-darken-3 lighten-3">
                Consisten en una asistencia que se proporciona a cualquier usuario para su equipo de cómputo a largas distancias a través de línea telefónica, internet o cualquier otro tipo de contacto.
            </p>

            <h4 class="header">Soporte con Team Viewer</h4>
            <p class="grey-text text-darken-3 lighten-3">
                Se puede ejecutar en algunos S.O. que ya lo trae instalados o lo puedes descargar para que un técnico pueda tener acceso a la pantalla de tu computadora para reparar el problema.  En línea.  Asistencia telefónica.  Video llamadas.

            
        </div>
    </div>
</div>