<script src="{MODULE_JS_DIR}assistance.js" type="text/javascript"></script>

<div class="row">
    <form id="form_new_schedule" class="col s12 m12 l12">
        
        <div class="row">            
            <div class="input-field col s12 m3 l3">
                <select name="idmodulo" id="select_modulo" class="chosen schedule_params" data-placeholder="Selecciona un grupo" required>
                    <option></option>
                    {OPTIONS_GRUPOS}
                </select>
            </div>
        </div>
    </form>
    <div class="col m12 l12 s12">
        Aqui iniciamos la siguiente
    </div>
</div>


